package pages

import "github.com/molnarjani/yonash-dev/internal/web/templates/components"

templ BlogPage() {
	@components.Container() {
		<p class="mb-4 lg:mb-8 font-light text-center text-gray-700 dark:text-gray-400 sm:text-xl">No posts here yet, check back later...</p>
		@components.ContentSkeleton()
	}
}
