package projects

import "github.com/molnarjani/yonash-dev/internal/web/templates/components"


templ YonashDevProject() {
    @components.ProjectContainer() {
        <div class="grid grid-cols-1 gap-4 justify-center items-center">
            <h2 class="text-xl font-bold mt-6 mb-4">yonash.dev</h2>
            <p class="mt-2 lg:mt-4 font-light text-center text-gray-700 dark:text-gray-400 sm:text-xl">
                This portfolio website is running on a simple
                <span>
                    @components.Link("https://go.dev/", "go")
                </span> webserver, entirely server-side rendered.
                <span>
                    @components.Link("https://htmx.org/", "HTMX")
                </span> is used for interactive elements, for the templates,
                a Go library called 
                <span>
                    @components.Link("https://github.com/a-h/templ", "templ")
                </span> is used.
                Eyecandy is mostly done using
                <span>
                    @components.Link("https://tailwindcss.com/", "TailwindCSS")
                </span>.
                Hosted on an AWS EC2 instance.
            </p>
            <div class="flex justify-center items-center gap-4 mt-4">
                <span>repo:</span>@components.GithubIcon("https://github.com/molnarjani/yonash-dev")
            </div>
        </div>
    }
}