package projects

import "github.com/molnarjani/yonash-dev/internal/web/templates/components"


templ YonashDevProject() {
    @components.ProjectContainer() {
        <div class="grid grid-cols-1 gap-4 justify-center items-center">
            <p class="font-light text-center text-gray-700 dark:text-gray-400 sm:text-xl">yonash.dev project description</p>
            <p class="mb-4 lg:mb-8 font-light text-center text-gray-700 dark:text-gray-400 sm:text-xl">nothing here yet, come back later...</p>
            @components.ContentSkeleton()
        </div>
    }
}